@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Roboto+Mono&display=swap');

#root{
    background-color: #3c3f40;
    color: #fff;
    min-height: 100vh;
}

span{
    font-family: 'Montserrat', 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
span.roboto{
    font-family: 'Roboto Mono', 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

div.page-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: image("https://images.unsplash.com/photo-1519680772-8b1b0b2e1b1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}
